extends ../layouts/main

block variables
    - var title = 'Main page'
    - var pageClass = 'main'
    - var description = 'Jade - cool tool'

block content
    section
        .container
            +item('item title', description)
